@charset "UTF-8";

/* Estilo de fondo naranja para el cuerpo de la página */
body {
	background-color: #eff5f4;
	/* Color naranja */
	margin: 0;
	min-height: 100vh;
}

/* Asegurar que el contenido principal tenga fondo blanco para mejor legibilidad */
.container,
.content {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	margin-bottom: 20px;
}

#contenido {
	overflow-y: scroll;
}

.cursor,
.pointer {
	cursor: pointer;
}

.rojo {
	color: #f00a0a;
}

.verde {
	color: #097109;
}

.azul {
	color: #1d1def;
}

.amarillo {
	color: #efef21;
}

.naranja {
	color: #f4a81b;
}

.morado {
	color: #9b199b;
}

.w-90 {
	width: 90%;
}

.pt-70 {
	padding-top: 70px;
}

.pt-90 {
	padding-top: 90px;
}

.pt-100 {
	padding-top: 100px;
}

.oculto {
	display: none;
}

.min-height-300 {
	min-height: 300px;
}

.min-height-350 {
	min-height: 350px;
}

.min-height-400 {
	min-height: 400px;
}

.min-height-500 {
	min-height: 500px;
}

.min-height-600 {
	min-height: 600px;
}

#divpreload {
	top: 3.25em;
	left: 45%;
	position: fixed;
	width: 80px;
	height: 80px;
	z-index: 3000;

	.spinner-border {
		width: 4rem;
		height: 4rem;
	}
}

.mx-w-150 {
	max-width: 150px;
}

.mx-w-100 {
	max-width: 100px;
}

.mx-h-300 {
	max-height: 300px;
}

.mx-h-350 {
	max-height: 350px;
}

.mx-h-380 {
	max-height: 380px;
}

.mx-h-400 {
	max-height: 400px;
}

.mx-h-450 {
	max-height: 450px;
}

.pd-0 {
	padding: 0;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-bottom-30 {
	padding-bottom: 30px;
}

.pd-5 {
	padding: 5px;
}

.pd-10 {
	padding: 10px;
}

.pd-20 {
	padding: 20px;
}

.pd-30 {
	padding: 30px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-30 {
	padding-top: 30px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-20 {
	padding-right: 20px;
}

.pr-30 {
	padding-right: 30px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-30 {
	padding-left: 30px;
}

.margin-5 {
	margin: 5px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.font-30 {
	font-size: 30px;
	line-height: 1.33em;
}

.font-24 {
	font-size: 24px;
	line-height: 1.42em;
}

.font-20 {
	font-size: 20px;
	line-height: 1.5em;
}

.font-18 {
	font-size: 18px;
	line-height: 1.55em;
}

.font-17 {
	font-size: 17px;
	line-height: 1.59em;
}

.font-16 {
	font-size: 16px;
	line-height: 1.62em;
}

.font-15 {
	font-size: 15px;
	line-height: 1.67em;
}

.font-14 {
	font-size: 14px;
	line-height: 1.71em;
}

.font-13 {
	font-size: 13px;
	line-height: 1.77em;
}

.font-12 {
	font-size: 12px;
	line-height: 1.83em;
}

.font-11 {
	font-size: 11px;
	line-height: 1.91em;
}

.font-10 {
	font-size: 10px;
	line-height: 2em;
}